@theme {
  --color-landing-primary: #00a986;
  --color-landing-secondary: #00a986;
  --color-landing-secondary-saturated: #006fe6;
  --color-landing-secondary-shaded: #ffffff;
  --color-landing-headers: #142033;
  --color-landing-foreground: #33486a;
  --color-landing-muted: #6a7c97;
  --color-landing-base: #ffffff;
  --color-landing-base-darker: #f8faff;
  --color-landing-base-secondary: #E9EEF5;
  --color-landing-borders: #d4e1df;

  --color-landing-glow: 207 229 255;
  --color-landing-shadow: 207 229 255;
  --landing-preview-image: url("/preview-light.png");
}

@layer base {
  [data-theme="light"] {
    --color-landing-primary: #00a986;
    --color-landing-secondary: #00a986;
    --color-landing-secondary-saturated: #006fe6;
    --color-landing-secondary-shaded: #ffffff;
    --color-landing-headers: #142033;
    --color-landing-foreground: #33486a;
    --color-landing-muted: #6a7c97;
    --color-landing-base: #ffffff;
    --color-landing-base-darker: #f8faff;
    --color-landing-base-secondary: #E9EEF5;
    --color-landing-borders: #dce3ec;

    --color-landing-glow: 181 211 247;
    --color-landing-shadow: 207 229 255;
    --landing-preview-image: url("/preview-light.png");

    .landing-bg-grid-texture {
      background-image: url("/pattern-light.png");
      background-repeat: repeat;
      background-size: 9px;
    }

    .landing-bg-grid-texture::after {
      background-image: url("/pattern-light.png");
      background-repeat: repeat;
      background-size: 9px;
    }
  }

  [data-theme="dark"] {
    --color-landing-primary: #97f4da;
    --color-landing-secondary: #71b3ff;
    --color-landing-secondary-saturated: #5ea8ff;
    --color-landing-secondary-shaded: #142033;
    --color-landing-headers: #ceddff;
    --color-landing-foreground: #a9c5f3;
    --color-landing-muted: #33486a;
    --color-landing-base: #05070b;
    --color-landing-base-darker: #040506;
    --color-landing-base-secondary: #0a0d11;
    --color-landing-borders: #0e1826;

    --color-landing-glow: 56 149 255;
    --color-landing-shadow: 97 136 198;
    --landing-preview-image: url("/preview-dark.png");


    .landing-bg-grid-texture {
      background-image: url("/pattern.png");
      background-repeat: repeat;
      background-size: 9px;
    }

    .landing-bg-grid-texture::after {
      background-image: url("/pattern.png");
      background-repeat: repeat;
      background-size: 9px;
    }
  }
}

.clip {
  clip-path: polygon(20% 0%, 92% 0, 93% 100%, 20% 100%);
}

#landing-page {
  --text-4xl: 2.65rem;

  @media (max-width: 768px) {
    --text-4xl: 2rem;
  }

  h1 {
    font-family: var(--font-family-heading);
    font-size: var(--text-4xl);
    font-weight: 600;
    color: var(--color-landing-headers);
    line-height: 59px;

    @media (max-width: 768px) {
      font-size: 1.9rem;
    line-height: 47px;
    }
  }

  h2 {
    font-family: var(--font-family-heading);
    font-size: 1.7rem;
    color: var(--color-landing-headers);
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-family: var(--font-family-heading);
    font-size: 1.4rem;
    color: var(--color-landing-headers);
    font-weight: 500;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  h4 {
    font-family: var(--font-family-heading);
    font-size: 0.9rem;
    color: var(--color-landing-headers);
    line-height: 1.2; /* Adjusted for better mobile readability */

    @media (max-width: 768px) {
      font-size: 0.85rem;
    }
  }
}

.landing-dual-inner-shadow-pseudo {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.landing-dual-inner-shadow-pseudo::before,
.landing-dual-inner-shadow-pseudo::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: inherit;
}

.landing-dual-inner-shadow-pseudo::before {
  box-shadow: inset 0px 0px 40px 20px rgba(var(--color-landing-shadow) / 0.05);
}

.landing-dual-inner-shadow-pseudo::after {
  box-shadow: inset 0px 0px 20px 6px rgba(var(--color-landing-shadow) / 0.1);
}

.landing-preview-image {
  background-image: var(--landing-preview-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
